$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "css-spinners/sass/spinners";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


.spinner-tile {
    margin-bottom:$grid-gutter-width;
}

.spinner-tile-details {
    position:absolute;
    width:100%;
    bottom:10px;
    color:#999;
    text-align:center;
}

.spinner-preview {
    display: block;
    width:100%;
    background-color:#FFF;
    text-align:center;
    display: table;
    margin-bottom:$grid-gutter-width;
    .card {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 300px;
    }
}


.spinner-tile-link {
    position:relative;
    display: block;
    background-color:#FFF;
    width:100%;
    display: table;
    .card {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 300px;
    }
}









