$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "css-spinners/sass/spinners";

/* Put your CSS here */
html, body {
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top:40px;
}


.spinners-list-title {
    font-size:2em;
    display:inline-block;
    margin-bottom:0.5em;
    vertical-align: -18%;
}

.logo {
    margin: 0 3em 0 1em;
    display:inline-block;
}

.spinner-page-title {
    font-size:2em;
}

.back-to-spinners-link {
    display:inline-block;
    font-size:1.1em;
    margin-bottom:1em;
    &:hover {
        background-color:#DDD;
    }
}


.spinners-list-description {
    margin-top: 1em;
    font-size:1.1em;
    line-height: 1.5em;
    color:#999;
}

.spinners-page-description {
    font-size:1.1em;
    line-height: 1.5em;
    font-weight:bold;
    color:#666;
}


.spinner-tile {
    margin-bottom:$grid-gutter-width;
}

.spinner-filter {
    margin-bottom: 1.5em;
}

.spinner-tile-details {
    position:absolute;
    width:100%;
    bottom:15px;
    color:#AAA;
    text-align:center;
}

.spinner-preview {
    display: block;
    width:100%;
    text-align:center;
    background-color:#FFF;
    border:1px solid #DDD;
    display: table;
    margin-bottom:$grid-gutter-width;
    .card {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 300px;
    }
}


.spinner-tile-link {
    position:relative;
    display: block;
    width:100%;
    background-color:#FFF;
    display: table;
    padding-bottom:20px;
    border:1px solid #DDD;
    &:hover {
        border:1px solid #AAA;
    }
    .card {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 170px;
    }
}



.spinner-navigation {
}










// footer 

.footer-section {
  padding:4em 0;
  margin-top: 4em;
  background-color:#345;
  color:rgba(255,255,255,0.3);
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size:1.1em;
  a, a:hover {
    color:rgba(255,255,255,0.5);
  }
}

.copy-right-notice {
  margin-bottom: 2em;
}

.footer-kudos {
  margin:$grid-gutter-width/2 0px;
}

.footer-kudos-link {
  display:block;
}


