$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "css-spinners/sass/spinners";

/* Put your CSS here */
html, body {
}

body {
    background-color:#345;
    color: #333;
    font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}



.header {
    padding:5em 0 3em;
    background-color:#e56245;

}

.page-content {
    background-color: #EEE;
    padding-bottom:3em;
}

.spinners-list-page {
    padding-top:2em;
}


.header-title {
    font-size:5em;
    font-family: Lato,sans-serif;
    font-weight: 700;
    color:rgba(255,255,255,1);
    &:hover {
        color:rgba(255,255,255,1);
        text-decoration:none;
    }
}

.header-tagline {
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size:1.4em;
    line-height: 1.5em;
    color:rgba(255,255,255,0.8);
}

.spinner-page-title {
    font-size:2em;
    font-family: Lato,sans-serif;
    font-weight: 700;

}


.spinners-list-description {
    font-size:1.1em;
    line-height: 1.5em;
    color:#666;
    margin-bottom:1.5em;
}

.spinner-page-description {
    font-size:1.2em;
    line-height: 1.5em;
    color:#666;
    margin-bottom:1.5em;
}

.icon-twitter {
    border-left:1px solid #DDD;
    padding-left:5px;
}



.spinner-tile {
    margin-bottom:$grid-gutter-width;
}

.spinner-filter {
    margin-bottom: 1.5em;
}

.spinner-tile-details {
    position:absolute;
    width:100%;
    bottom:15px;
    color:#AAA;
    text-align:center;
}

.spinner-preview {
    display: block;
    width:100%;
    text-align:center;
    background-color:#FFF;
    border:1px solid #DDD;
    display: table;
    margin-bottom:$grid-gutter-width;
    .card {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 350px;
    }
}


.spinner-tile-link {
    position:relative;
    display: block;
    width:100%;
    background-color:#FFF;
    display: table;
    padding-bottom:10px;
    border:1px solid #CCC;
    &:hover {
        border:1px solid #999;
    }
    .card {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 170px;
    }
}



.spinner-navigation {
    background-color:#e56245;
    padding:1em 0;
    font-weight:300;
    margin-bottom:2em;
    a {
        color:#FFF;
    }
    a:hover {
        color:#FFF;
        text-decoration:none;
    }
}

pre {
    margin-bottom:2em;
}










// footer 

.footer-section {
  padding:1em 0 4em 0;
  margin-top: 4em;
  color:rgba(255,255,255,0.3);
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size:1.1em;
  a, a:hover {
    color:rgba(255,255,255,0.5);
  }
}

.copy-right-notice {
  margin-bottom: 2em;
}

.footer-kudos {
  margin:$grid-gutter-width/2 0px;
}

.footer-kudos-link {
  display:block;
}


