
<div class="spinner-navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <a href="/spinner/{{prevSpinner.id}}" class="pull-left"><i class="icon-left"></i> {{prevSpinner.name}}</a>
        <a href="/spinner/{{nextSpinner.id}}" class="pull-right"> {{nextSpinner.name}} <i class="icon-right"></i></a>
      </div>
      <div class="col-sm-5">
        <a href="/spinner" class="back-to-spinners-link"><i class="icon-grid"></i> All spinnners</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-push-7">
      <div class="spinner-page-title">{{spinner.name}}</div>
      <div class="spinner-page-description">
        <p>{{spinner.description}}</p>
      </div>


      <p><i class="icon-html"></i> HTML</p>

      <pre>&lt;div class=&quot;{{spinner.id}}-loader&quot;&gt;<br/>  Loading&#8230;<br/>&lt;/div&gt;</pre>

      

      <p><i class="icon-css"></i> CSS</p>

      <pre ng-show="all == false">&lt;link rel=&quot;stylesheet&quot; href=&quot;http://css-spinners.com/css/spinner/{{spinner.id}}.css&quot; type=&quot;text/css&quot;&gt;</pre>

      <pre ng-show="all == true">&lt;link rel=&quot;stylesheet&quot; href=&quot;http://css-spinners.com/css/spinners.css&quot; type=&quot;text/css&quot;&gt;</pre>

      <div class="checkbox" ng-init="all = false">
        <label>
          <input type="checkbox" ng-model="all">
            Include all spinners
        </label>
      </div>


    </div>
    <div class="col-sm-7 col-sm-pull-5">
      <div class="spinner-preview">
        <div class="card">
          <div class="{{spinner.id}}-loader">
            Loading...
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
