<div class="row">
  <div class="col-sm-12">
    <a href="#/spinners" class="back-to-spinners-link">< See more spinnners</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-push-8">
    <div class="spinner-page-title">{{spinner.name}}</div>
    <div class="spinners-page-description">
      <p>{{spinner.description}}</p>
    </div>


  </div>
  <div class="col-sm-8 col-sm-pull-4">
    <div class="spinner-preview">
      <div class="card">
        <div class="{{spinner.className}}">
          Loading...
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <p>HTML:</p>

        <pre>&lt;div class=&quot;{{spinner.className}}&quot;&gt;<br/>    Loading...<br/>&lt;/div&gt;</pre>

      </div>

      <div class="col-sm-6">
        <p>CSS:</p>

        <pre ng-show="all == false">&lt;link rel=&quot;stylesheet&quot; href=&quot;https://rawgithub.com/jlong/css-spinners/master/css/spinners/{{spinner.className}}.css&quot; type=&quot;text/css&quot;&gt;</pre>

        <pre ng-show="all == true">&lt;link rel=&quot;stylesheet&quot; href=&quot;https://rawgithub.com/jlong/css-spinners/master/css/spinners.css&quot; type=&quot;text/css&quot;&gt;</pre>

        <div class="checkbox" ng-init="all = false">
          <label>
            <input type="checkbox" ng-model="all">
              Inlcude all spinners
          </label>
        </div>
      </div>

    </div>


  </div>

</div>
